Adafruit-Blinka==8.54.0
adafruit-circuitpython-busdevice==5.2.11
adafruit-circuitpython-connectionmanager==3.1.3
adafruit-circuitpython-fingerprint==2.2.19
adafruit-circuitpython-requests==4.1.9
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.77.0
Adafruit-PureIO==1.1.11
backports.tarfile==1.2.0
binho-host-adapter==0.1.6
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
cssselect==1.2.0
cssutils==2.11.1
Cython==3.0.12
et_xmlfile==2.0.0
idna==3.10
importlib_metadata==8.6.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
keyring==25.6.0
lxml==5.3.1
more-itertools==10.6.0
Nuitka==2.6.8
openpyxl==3.1.5
ordered-set==4.1.0
pillow==11.1.0
premailer==3.10.0
pycparser==2.22
pyftdi==0.56.0
pyserial==3.5
python-dotenv==1.0.1
pyusb==1.3.1
requests==2.32.3
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
SecretStorage==3.3.3
sysv_ipc==1.1.0
ttkbootstrap==1.10.1
typing_extensions==4.12.2
urllib3==2.3.0
yagmail==0.15.293
zipp==3.21.0
zstandard==0.23.0
