cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
cssselect==1.2.0
cssutils==2.11.1
et_xmlfile==2.0.0
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
keyring==25.6.0
lxml==5.3.1
more-itertools==10.6.0
openpyxl==3.1.5
pillow==11.1.0
premailer==3.10.0
pycparser==2.22
python-dotenv==1.0.1
requests==2.32.3
SecretStorage==3.3.3
setuptools==75.8.0
ttkbootstrap==1.10.1
urllib3==2.3.0
wheel==0.45.1
yagmail==0.15.293
